Repository lockbook/lockbook, pull requests merged in 2021-07, with the labels that each got.

#794 android, core: changed ClientWorkCalculated in core to fix the crashes on android
  clients/android/app/src/main/java/app/lockbook/model/ListFilesViewModel.kt
  clients/android/app/src/main/java/app/lockbook/model/SyncModel.kt
  clients/android/app/src/main/java/app/lockbook/util/CoreData.kt
  clients/android/app/src/test/java/app/lockbook/CalculateWorkTest.kt
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/WorkUnit.swift
  clients/apple/SwiftLockbookCore/Tests/SwiftLockbookCoreTests/Scenarios/SyncFileTests.swift
  clients/apple/macOS/FileListView.swift
  clients/apple/macOS/ImageLoader.swift
  clients/apple/macOS/OutlineView.swift
  clients/cli/src/status.rs
  clients/linux/src/app.rs
  clients/linux/src/backend.rs
  core/src/model/client_conversion.rs
Labels: android, core

#818 cli: able to copy bytes in cli
  clients/cli/src/copy.rs
Labels: cli

#825 linux: filetree tweaks and icons
  clients/linux/src/app.rs
  clients/linux/src/filetree.rs
Labels: linux

#806 cli: add an integrity check
  clients/cli/src/error.rs
  clients/cli/src/main.rs
  clients/cli/src/validate.rs
  core/src/lib.rs
  core/src/service/integrity_service.rs
  core/src/service/path_service.rs
  core/tests/file_service_tests.rs
  core/tests/integrity_tests.rs
Labels: cli
