Repository lockbook/lockbook, pull requests merged in 2021-01, with the labels that each got.

#496 windows: migrations
  clients/windows/core/Core.cs
  clients/windows/core/CoreModel.cs
  clients/windows/lockbook/App.xaml.cs
  clients/windows/lockbook/FileExplorer.xaml.cs
  clients/windows/lockbook/Startup.xaml
  clients/windows/lockbook/Startup.xaml.cs
  clients/windows/lockbook/lockbook.csproj
  clients/windows/test/CoreServiceTest.cs
Labels: windows

#504 android: update gradle to 6.7
  clients/android/gradle/wrapper/gradle-wrapper.properties
Labels: android

#478 android: better drawing UI and erasing
  clients/.gradle/6.8/executionHistory/executionHistory.lock
  clients/.gradle/6.8/fileChanges/last-build.bin
  clients/.gradle/6.8/fileHashes/fileHashes.lock
  clients/.gradle/6.8/gc.properties
  clients/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  clients/.gradle/buildOutputCleanup/cache.properties
  clients/.gradle/checksums/checksums.lock
  clients/.gradle/configuration-cache/gc.properties
  clients/.gradle/vcs-1/gc.properties
  clients/android/app/src/main/AndroidManifest.xml
  clients/android/app/src/main/java/app/lockbook/model/HandwritingEditorViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/HandwritingEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/ImportAccountActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/InitialLaunchFigureOuter.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/NewAccountActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/SettingsFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/TextEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/ui/CreateFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/HandwritingEditorView.kt
  clients/android/app/src/main/java/app/lockbook/ui/MoveFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/RenameFileDialogFragment.kt
  clients/android/app/src/main/res/drawable/ic_baseline_add_24.xml
  clients/android/app/src/main/res/drawable/ic_baseline_border_color_24.xml
  clients/android/app/src/main/res/drawable/ic_baseline_insert_drive_file_24.xml
  clients/android/app/src/main/res/drawable/ic_baseline_keyboard_arrow_right_24.xml
  clients/android/app/src/main/res/drawable/ic_baseline_qr_code_scanner_24.xml
  clients/android/app/src/main/res/drawable/ic_eraser_filled.xml
  clients/android/app/src/main/res/drawable/ic_eraser_outline.xml
  clients/android/app/src/main/res/drawable/ic_pencil_filled.xml
  clients/android/app/src/main/res/drawable/ic_pencil_outline.xml
  clients/android/app/src/main/res/drawable/item_border.xml
  clients/android/app/src/main/res/layout/activity_debug.xml
  clients/android/app/src/main/res/layout/activity_handwriting_editor.xml
  clients/android/app/src/main/res/layout/activity_import_account.xml
  clients/android/app/src/main/res/layout/activity_list_files.xml
  clients/android/app/src/main/res/layout/activity_main.xml
  clients/android/app/src/main/res/layout/activity_new_account.xml
  clients/android/app/src/main/res/layout/activity_text_editor.xml
  clients/android/app/src/main/res/layout/dialog_create_file.xml
  clients/android/app/src/main/res/layout/dialog_duration_picker.xml
  clients/android/app/src/main/res/layout/dialog_file_info.xml
  clients/android/app/src/main/res/layout/dialog_move_file.xml
  clients/android/app/src/main/res/layout/dialog_rename_file.xml
  clients/android/app/src/main/res/layout/fragment_list_files.xml
  clients/android/app/src/main/res/layout/grid_layout_file_item.xml
  clients/android/app/src/main/res/layout/linear_layout_file_item.xml
  clients/android/app/src/main/res/layout/splash_screen.xml
  clients/android/app/src/main/res/menu/menu_list_files.xml
  clients/android/app/src/main/res/values-night/colors.xml
  clients/android/app/src/main/res/values/colors.xml
  clients/android/app/src/main/res/values/strings.xml
  clients/android/app/src/main/res/values/styles.xml
  clients/android/build.gradle
Labels: android

#533 android: UI refinements
  clients/android/app/src/main/AndroidManifest.xml
  clients/android/app/src/main/java/app/lockbook/model/FileModel.kt
  clients/android/app/src/main/java/app/lockbook/model/GridRecyclerViewAdapter.kt
  clients/android/app/src/main/java/app/lockbook/model/LinearRecyclerViewAdapter.kt
  clients/android/app/src/main/java/app/lockbook/model/ListFilesViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/HandwritingEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/ImportAccountActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/InitialLaunchFigureOuter.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/NewAccountActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/SettingsActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/SettingsFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/TextEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/ui/CreateFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/HandwritingEditorView.kt
  clients/android/app/src/main/java/app/lockbook/ui/MoveFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/RenameFileDialogFragment.kt
  clients/android/app/src/main/res/layout/activity_handwriting_editor.xml
  clients/android/app/src/main/res/layout/activity_import_account.xml
  clients/android/app/src/main/res/layout/activity_list_files.xml
  clients/android/app/src/main/res/layout/activity_main.xml
  clients/android/app/src/main/res/layout/activity_new_account.xml
  clients/android/app/src/main/res/layout/activity_settings.xml
  clients/android/app/src/main/res/layout/activity_text_editor.xml
  clients/android/app/src/main/res/layout/dialog_create_file.xml
  clients/android/app/src/main/res/layout/dialog_file_info.xml
  clients/android/app/src/main/res/layout/dialog_move_file.xml
  clients/android/app/src/main/res/layout/dialog_rename_file.xml
  clients/android/app/src/main/res/layout/fragment_list_files.xml
  clients/android/app/src/main/res/menu/menu_list_files.xml
  clients/android/app/src/main/res/values-night/colors.xml
  clients/android/app/src/main/res/values/colors.xml
  clients/android/app/src/main/res/values/strings.xml
  clients/android/app/src/main/res/values/styles.xml
Labels: android

#502 core: expose human readable strings that described when we last synced and how many bytes we're using
  clients/cli/Cargo.lock
  clients/cli/Cargo.toml
  clients/cli/src/calculate_usage.rs
  clients/cli/src/utils.rs
  core/Cargo.lock
  core/Cargo.toml
  core/src/lib.rs
  core/src/service/mod.rs
  core/src/service/usage_service.rs
Labels: core

#508 android: use exposed human string get usage and last synced
  clients/android/app/src/main/java/app/lockbook/model/CoreModel.kt
  clients/android/app/src/main/java/app/lockbook/model/LinearRecyclerViewAdapter.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/SettingsFragment.kt
  clients/android/app/src/main/java/app/lockbook/util/Converters.kt
  clients/android/app/src/main/java/app/lockbook/util/Errors.kt
  clients/android/core/src/main/java/app/lockbook/core/core.kt
  core/src/java_interface.rs
Labels: android

#541 android: changed biometric verification subtitle
  clients/android/app/src/main/java/app/lockbook/screen/InitialLaunchFigureOuter.kt
  clients/android/app/src/main/java/app/lockbook/screen/SettingsFragment.kt
Labels: android

#543 android: extraneous drawing stroke points are rounded to their nearest max or min
  clients/android/app/src/main/java/app/lockbook/ui/HandwritingEditorView.kt
Labels: android

#544 android: fix the drawingview's unfaithful restore from model function
  clients/android/app/src/main/java/app/lockbook/ui/HandwritingEditorView.kt
Labels: android

#546 android: fixed drawing deletion bug involved with paused activities
  clients/android/app/src/main/java/app/lockbook/model/HandwritingEditorViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/HandwritingEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/ui/HandwritingEditorView.kt
Labels: android

#550 infra: android and kotlin interface tests dockerfiles start with a gradle image
  containers/Dockerfile.android
  containers/Dockerfile.kotlin_interface_tests
  containers/docker-compose-integration-tests.yml
Labels: infra

#549 android: new documents are automatically opened
  clients/android/app/src/main/java/app/lockbook/model/ListFilesViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/CreateFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/util/Constants.kt
  clients/android/app/src/main/res/drawable/ic_baseline_miscellaneous_services_24.xml
  clients/android/app/src/main/res/values/strings.xml
  clients/android/app/src/main/res/xml/settings_preference.xml
Labels: android

#563 no shadows for light mode tiles
  clients/android/app/src/main/res/layout/grid_layout_file_item.xml
Labels: android

#564 android: fixed crashes when a user exits while a drawing is still loading
  clients/android/app/src/main/java/app/lockbook/model/HandwritingEditorViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/HandwritingEditorActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
Labels: android

#572 infra: prep containers now run in parallel
  .github/workflows/integration.yml
Labels: infra

#569 android: resolved sync errors involving the snackbar popping in and out
  clients/android/app/src/main/java/app/lockbook/model/CoreModel.kt
  clients/android/app/src/main/java/app/lockbook/model/FileModel.kt
  clients/android/app/src/main/java/app/lockbook/model/ListFilesViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/ListFilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/util/Converters.kt
  clients/android/app/src/main/java/app/lockbook/util/Structures.kt
  clients/android/app/src/test/java/app/lockbook/CalculateWorkTest.kt
  clients/android/app/src/test/java/app/lockbook/ExecuteWorkTest.kt
  clients/android/app/src/test/java/app/lockbook/SyncAllTest.kt
  clients/android/core/src/main/java/app/lockbook/core/core.kt
  core/src/java_interface.rs
Labels: android

#540 core: added sanity check for the lib.rs function get usage human string
  core/src/lib.rs
  core/src/service/usage_service.rs
  core/tests/get_usage_tests.rs
Labels: core
