Repository lockbook/lockbook, pull requests merged in 2022-08, with the labels that each got.

#1258 server: fix premium users metrics
  server/server/src/metrics.rs
Labels: server

#1267 android: fix CI
  clients/android/app/src/main/java/app/lockbook/util/CoreData.kt
  clients/android/app/src/main/java/app/lockbook/util/Errors.kt
  clients/android/app/src/main/res/values/strings.xml
Labels: android

#1277 infra: fix CI
  utils/dev-tool/src/main.rs
  utils/dev-tool/src/server.rs
  utils/dev-tool/src/utils.rs
Labels: infra

#1280 server: page on incomplete write
  server/server/src/main.rs
Labels: server

#1281 infra: set rust version in ci to 1.63
  .github/workflows/integration.yml
  core/tests/exhaustive_sync/trial.rs
Labels: infra

#1288 android: fix folders not showing
  clients/android/app/src/main/java/app/lockbook/screen/FilesListFragment.kt
Labels: android

#1285 core: consolidate skipped billing tests
  core/tests/billing_tests.rs
  core/tests/cancel_subscription_test.rs
  core/tests/upgrade_account_google_play_tests.rs
Labels: core

#1302 docs: fixed broken links and cleaned up
  docs/README.md
  docs/guides/install/android.md
  docs/guides/install/cli.md
  docs/guides/install/iOS-iPadOS.md
Labels: documentation

#1321 android: switched icon
  clients/android/app/src/main/ic_launcher-playstore.png
  clients/android/app/src/main/res/drawable-nodpi/large_foreground.png
  clients/android/app/src/main/res/drawable-v24/foreground_dark_01.png
  clients/android/app/src/main/res/drawable/ic_launcher_background.xml
  clients/android/app/src/main/res/drawable/ic_launcher_foreground.xml
  clients/android/app/src/main/res/drawable/splash_background.xml
  clients/android/app/src/main/res/layout/activity_on_boarding.xml
  clients/android/app/src/main/res/layout/splash_screen.xml
  clients/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  clients/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  clients/android/app/src/main/res/mipmap-hdpi/ic_launcher_background.png
  clients/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  clients/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  clients/android/app/src/main/res/mipmap-mdpi/ic_launcher_background.png
  clients/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  clients/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  clients/android/app/src/main/res/mipmap-xhdpi/ic_launcher_background.png
  clients/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  clients/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  clients/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_background.png
  clients/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  clients/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  clients/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_background.png
  clients/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
Labels: android

#1329 egui: upgrade from 0.18.0 to 0.19.0
  Cargo.lock
  clients/egui/Cargo.toml
  clients/egui/src/account/modals/help.rs
  clients/egui/src/account/modals/new_file.rs
  clients/egui/src/account/modals/settings/account_tab.rs
  clients/egui/src/account/syncing.rs
  clients/egui/src/account/tabs/markdown/mod.rs
  clients/egui/src/main.rs
  clients/egui/src/widgets/subscription.rs
Labels: egui

#1331 android: 0.5.2 release
  clients/android/app/build.gradle
Labels: android

#1327 infra: removed hash info and added server logs step to ci
  .github/workflows/integration.yml
  Cargo.lock
  containers/test.env
  utils/dev-tool/Cargo.toml
  utils/dev-tool/src/android.rs
  utils/dev-tool/src/apple.rs
  utils/dev-tool/src/main.rs
  utils/dev-tool/src/server.rs
  utils/dev-tool/src/utils.rs
Labels: infra

#1341 core, android: fix move and resolve links in get_children
  clients/android/app/src/main/java/app/lockbook/model/CoreModel.kt
  clients/android/app/src/main/java/app/lockbook/model/FileModel.kt
  clients/android/app/src/main/java/app/lockbook/model/MoveFileViewModel.kt
  core/libs/shared/src/core_ops.rs
  core/src/service/file_service.rs
  core/tests/sharing_tests.rs
Labels: core, android

#1334 infra: android release automation
  Cargo.lock
  clients/android/app/build.gradle
  utils/releaser/Cargo.toml
  utils/releaser/src/android/core.rs
  utils/releaser/src/android/mod.rs
  utils/releaser/src/main.rs
  utils/releaser/src/secrets.rs
  utils/releaser/src/utils.rs
Labels: infra

#1344 docs, website, cli: update readme and tagline
  clients/cli/src/main.rs
  docs/README.md
  public_site/index.html
  utils/dev/snap-packages/lockbook-desktop/snap/snapcraft.yaml
  utils/dev/snap-packages/lockbook/snap/snapcraft.yaml
  utils/releaser/src/apple/cli.rs
Labels: documentation, cli, public site
