Repository lockbook/lockbook, pull requests merged in 2023-03, with the labels that each got.

#1618 infra: fix linux cli release
  utils/releaser/src/linux/cli.rs
Labels: infra

#1617 apple: remove navigation link file tree
  clients/apple/Shared/Stateful Logic/FileService.swift
  clients/apple/Shared/Views/BookView.swift
  clients/apple/Shared/Views/DocumentView.swift
  clients/apple/Shared/Views/ListFileCell.swift
  clients/apple/Shared/Views/NewFileSheet.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/File.swift
  clients/apple/iOS/FileListView.swift
  clients/apple/iOS/FilePathBreadcrumb.swift
  clients/apple/lockbook.xcodeproj/project.pbxproj
Labels: apple

#1648 releaser: release android to production automatically
  utils/releaser/src/android/mod.rs
Labels: infra

#1515 core, server: set size limits on userfields
  clients/android/app/src/main/java/app/lockbook/util/Errors.kt
  clients/android/app/src/main/res/values/strings.xml
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/FfiError.swift
  libs/core/libs/shared/src/account.rs
  libs/core/libs/shared/src/filename.rs
  libs/core/libs/shared/src/lazy.rs
  libs/core/libs/shared/src/path_ops.rs
  libs/core/libs/shared/src/validate.rs
  libs/core/src/lib.rs
  libs/core/src/model/errors.rs
  libs/core/src/service/account_service.rs
  libs/core/src/service/file_service.rs
  libs/core/src/service/sync_service.rs
  libs/core/tests/account_service_tests.rs
  libs/core/tests/api_new_account_tests.rs
  libs/core/tests/file_ops.rs
  libs/core_external_interface/src/errors.rs
  server/server/src/utils.rs
Labels: core, server

#1661 apple: macOS import and export file tree support
  clients/apple/Shared/Stateful Logic/FileService.swift
  clients/apple/Shared/Views/BookView.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/CoreApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/FakeApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/LockbookApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/FfiError.swift
  clients/apple/macOS/TreeView/DataSource.swift
  clients/apple/macOS/TreeView/FileTreeView.swift
  libs/core_external_interface/src/c_interface.rs
Labels: apple

#1671 releaser: create new github release
  Cargo.lock
  utils/releaser/Cargo.toml
  utils/releaser/src/github.rs
  utils/releaser/src/main.rs
  utils/releaser/src/utils.rs
Labels: infra
