Repository lockbook/lockbook, pull requests merged in 2023-01, with the labels that each got.

#1464 android, core, server: android sharing
  clients/android/app/build.gradle
  clients/android/app/src/main/AndroidManifest.xml
  clients/android/app/src/main/java/app/lockbook/model/AlertModel.kt
  clients/android/app/src/main/java/app/lockbook/model/CoreModel.kt
  clients/android/app/src/main/java/app/lockbook/model/CreateLinkViewModel.kt
  clients/android/app/src/main/java/app/lockbook/model/DetailScreenLoaderViewModel.kt
  clients/android/app/src/main/java/app/lockbook/model/FilesListViewModel.kt
  clients/android/app/src/main/java/app/lockbook/model/MoveFileViewModel.kt
  clients/android/app/src/main/java/app/lockbook/model/StateViewModel.kt
  clients/android/app/src/main/java/app/lockbook/screen/CreateLinkFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/DetailScreenLoaderFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/DrawingFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/FilesListFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/ImageViewerFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/MainScreenActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/PdfViewerFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/PendingSharesFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/SearchDocumentsFragment.kt
  clients/android/app/src/main/java/app/lockbook/screen/SharesActivity.kt
  clients/android/app/src/main/java/app/lockbook/screen/TextEditorFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/CreateFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/DeleteFilesDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/DeleteSharedDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/MoveFileDialogFragment.kt
  clients/android/app/src/main/java/app/lockbook/ui/ShareFileFragment.kt
  clients/android/app/src/main/java/app/lockbook/util/CoreData.kt
  clients/android/app/src/main/java/app/lockbook/util/Errors.kt
  clients/android/app/src/main/java/app/lockbook/util/FileItemViewHolder.kt
  clients/android/app/src/main/java/app/lockbook/util/FilesFragment.kt
  clients/android/app/src/main/java/app/lockbook/util/SystemServices.kt
  clients/android/app/src/main/res/drawable/ic_outline_delete_sweep_24.xml
  clients/android/app/src/main/res/drawable/ic_outline_folder_shared_200.xml
  clients/android/app/src/main/res/drawable/ic_outline_folder_shared_24.xml
  clients/android/app/src/main/res/drawable/ic_outline_insert_drive_file_200.xml
  clients/android/app/src/main/res/drawable/ic_outline_lock_person_24.xml
  clients/android/app/src/main/res/drawable/ic_outline_note_add_24.xml
  clients/android/app/src/main/res/drawable/ic_outline_person_add_alt_24.xml
  clients/android/app/src/main/res/layout-land/fragment_share_file.xml
  clients/android/app/src/main/res/layout/activity_pending_shares.xml
  clients/android/app/src/main/res/layout/chip_share.xml
  clients/android/app/src/main/res/layout/dialog_file_info.xml
  clients/android/app/src/main/res/layout/fragment_create_link.xml
  clients/android/app/src/main/res/layout/fragment_files_list.xml
  clients/android/app/src/main/res/layout/fragment_pending_shares.xml
  clients/android/app/src/main/res/layout/fragment_share_file.xml
  clients/android/app/src/main/res/layout/header_navigation_drawer_files_list.xml
  clients/android/app/src/main/res/layout/pending_shares_file_item.xml
  clients/android/app/src/main/res/menu/menu_files_list_drawer.xml
  clients/android/app/src/main/res/menu/menu_files_list_selected.xml
  clients/android/app/src/main/res/menu/menu_shared_files.xml
  clients/android/app/src/main/res/navigation/pending_shares_navigation.xml
  clients/android/app/src/main/res/values/strings.xml
  clients/android/core/src/main/java/app/lockbook/core/core.kt
  core/src/external_interface/java_interface.rs
Labels: core, server, android

#1463 apple, server, core: apple billing
  Cargo.lock
  clients/android/app/src/main/java/app/lockbook/util/Errors.kt
  clients/android/app/src/main/res/values/strings.xml
  clients/apple/Shared/.gitignore
  clients/apple/Shared/Stateful Logic/BillingService.swift
  clients/apple/Shared/Stateful Logic/DI.swift
  clients/apple/Shared/Stateful Logic/SettingsService.swift
  clients/apple/Shared/Views/BottomBar.swift
  clients/apple/Shared/Views/ColorProgressBar.swift
  clients/apple/Shared/Views/ManageSubscription.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/CoreApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/FakeApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/LockbookApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/FfiError.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/FileUsage.swift
  clients/apple/iOS/Assets.xcassets/AccentColor.colorset/Contents.json
  clients/apple/iOS/SettingsView.swift
  clients/apple/lockbook.xcodeproj/project.pbxproj
  clients/apple/lockbook.xcodeproj/xcshareddata/xcschemes/Lockbook (iOS).xcscheme
  clients/apple/lockbook.xcodeproj/xcshareddata/xcschemes/Lockbook (macOS).xcscheme
  clients/apple/macOS/Settings/ManageSubscriptionView.swift
  clients/apple/macOS/Settings/SettingsView.swift
  clients/apple/macOS/Settings/UsageSettingsView.swift
  clients/cli/src/billing.rs
  clients/egui/src/widgets/subscription.rs
  clients/linux/src/ui/usage_upgrade.rs
  containers/local.env
  core/libs/shared/src/api.rs
  core/src/external_interface/c_interface.rs
  core/src/lib.rs
  core/src/model/errors.rs
  core/src/service/api_service.rs
  core/src/service/billing_service.rs
  docs/design-ui/iphone/README.md
  docs/design-ui/iphone/billing-dark.png
  docs/design-ui/iphone/billing-light.jpeg
  docs/design-ui/macos/README.md
  docs/design-ui/macos/billing-dark.png
  docs/design-ui/macos/billing-light.png
  server/server/Cargo.toml
  server/server/src/account_service.rs
  server/server/src/billing/app_store_client.rs
  server/server/src/billing/app_store_model.rs
  server/server/src/billing/app_store_service.rs
  server/server/src/billing/billing_model.rs
  server/server/src/billing/billing_service.rs
  server/server/src/billing/mod.rs
  server/server/src/config.rs
  server/server/src/error_handler.rs
  server/server/src/lib.rs
  server/server/src/main.rs
  server/server/src/metrics.rs
  server/server/src/router_service.rs
  server/server/src/schema.rs
Labels: core, server, apple

#1489 android: sharing fixes
  clients/android/app/src/main/java/app/lockbook/ui/ShareFileFragment.kt
  clients/android/app/src/main/res/layout/chip_share.xml
  clients/android/lint.xml
  libs/core/Makefile
Labels: android

#1494 server: make apple billing env vars use paths
  containers/local.env
  server/server/src/config.rs
Labels: server

#1500 public_site: add eula and privacy policy
  public_site/eula.html
  public_site/privacy-policy.html
  public_site/styles.css
Labels: public site

#1497 server: support sandbox testing requests
  server/server/src/billing/app_store_client.rs
  server/server/src/billing/app_store_model.rs
  server/server/src/config.rs
Labels: apple

#1498 android: fix allowed sharing users
  clients/android/app/src/main/res/layout-land/fragment_share_file.xml
Labels: android

#1502 apple: privacy policy and eula
  clients/apple/Shared/Views/ManageSubscription.swift
  clients/apple/Shared/Views/OnboardingView.swift
  clients/apple/iOS/SettingsView.swift
  clients/apple/macOS/Settings/ManageSubscriptionView.swift
Labels: apple

#1508 apple: change mentions of eula to tos
  clients/apple/Shared/Views/ManageSubscription.swift
  clients/apple/Shared/Views/OnboardingView.swift
  clients/apple/iOS/SettingsView.swift
  clients/apple/macOS/Settings/ManageSubscriptionView.swift
Labels: apple

#1518 apple: close application when primary window disappears
  clients/apple/Shared/LockbookApp.swift
Labels: apple

#1484 apple: sharing
  clients/apple/Shared/LockbookApp.swift
  clients/apple/Shared/Stateful Logic/DI.swift
  clients/apple/Shared/Stateful Logic/FileService.swift
  clients/apple/Shared/Stateful Logic/ShareService.swift
  clients/apple/Shared/Views/AcceptShareSheet.swift
  clients/apple/Shared/Views/BookView.swift
  clients/apple/Shared/Views/ListFileCell.swift
  clients/apple/Shared/Views/ManageSubscription.swift
  clients/apple/Shared/Views/PendingSharesView.swift
  clients/apple/Shared/Views/ShareFileSheet.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/CoreApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/FakeApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/LockbookApi.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/FfiError.swift
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Models/File.swift
  clients/apple/iOS/MoveSheet.swift
  clients/apple/iOS/OutlineView/SheetState.swift
  clients/apple/iOS/Scanner.swift
  clients/apple/lockbook.xcodeproj/project.pbxproj
  clients/apple/macOS/Settings/SettingsView.swift
  clients/apple/macOS/TreeView/DataSource.swift
  clients/apple/macOS/TreeView/MenuItems.swift
  libs/core/libs/shared/src/file.rs
  libs/core/src/external_interface/c_interface.rs
Labels: apple

#1523 apple: stop rejecting expired app store subscriptions
  clients/apple/Shared/Stateful Logic/BillingService.swift
  server/server/src/billing/app_store_service.rs
  server/server/src/billing/billing_model.rs
  server/server/src/billing/billing_service.rs
Labels: apple

#1543 apple: empty new folder name
  clients/apple/Shared/Views/BookView.swift
Labels: apple

#1546 aur: fix build fail
  utils/releaser/src/linux/cli.rs
Labels: cli, infra

#1545 apple: fix read and write access in sharing
  clients/apple/SwiftLockbookCore/Sources/SwiftLockbookCore/Apis/CoreApi.swift
Labels: apple

#1547 server: expired users are premium
  server/server/src/account_service.rs
  server/server/src/billing/billing_model.rs
  server/server/src/billing/billing_service.rs
  server/server/src/metrics.rs
Labels: server
